@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #1d0304;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #db2f2fd3;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

em {
    color: #ffffff5d;
}

/* Logo */

.bounce:hover {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {

    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

/* sección nav */

.menusuperior {
    background-color: black;
    padding: 1.8rem;
    justify-content: center;
    display: flex;
    gap: 6rem;
    margin: 0%;
}

.menusuperior__link {
    font-size: 1.4em;
    padding: 1rem 1.2rem;
    border: 2px solid #000000;
    transition: all 1s;
}

.menusuperior__link:hover {
    border-color: #ffffff;
    color: #ffffff;
}


/* ------------------VIEW - HOME------------------ */

/* sección main */

main {
    background-image: url(../assets/img/fondo3.jpg);
    background-repeat: none;
    background-size: cover;
}

h1 {
    padding: 2rem;
}


/* cuadros-main */

.cuadros {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cuadros__cuadro:nth-of-type(1) {
    grid-column: 1/5;
    grid-row: 1/4;
}

.cuadros__cuadro:nth-of-type(2) {
    grid-column: 5/9;
    grid-row: 1/4;
}

.cuadros__cuadro:nth-of-type(3) {
    grid-column: 9/13;
    grid-row: 1/4;
}

.cuadros__cuadro h2 {
    font-size: 2.4rem;
    padding: 6rem;
}

.cuadros__cuadro p {
    font-size: 1.4em;
    margin-bottom: 1rem;
}

.cuadros__cuadro {
    background-color: #752e2ea1;
    text-align: center;
    margin: 4rem;
    padding: 2.4rem;
}

.logo {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
}

.linktop {
    font-size: 1.5rem;
    padding: 3rem;
}



/* ------------------VIEW - NUESTROS PRODUCTOS------------------ */


.productos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.productos__cuadro:nth-of-type(1) {
    grid-column: 1/5;
    grid-row: 1/2;
}

.productos__cuadro:nth-of-type(2) {
    grid-column: 5/9;
    grid-row: 1/2;
}

.productos__cuadro:nth-of-type(3) {
    grid-column: 9/13;
    grid-row: 1/2;
}

.productos__cuadro:nth-of-type(4) {
    grid-column: 1/5;
    grid-row: 2/3;
}

.productos__cuadro:nth-of-type(5) {
    grid-column: 5/9;
    grid-row: 2/3;
}

.productos__cuadro:nth-of-type(6) {
    grid-column: 9/13;
    grid-row: 2/3;
}

.productos__cuadro {
    display: flex;
    flex-direction: column;
    background-color: #752e2ea1;
    text-align: center;
    margin: 4rem;
    padding: 2.4rem;
}

.pulse:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.productos__cuadro--img {
    padding: 2.4rem;
    justify-content: center;

}

.productos__cuadro--titulo {
    font-size: large;
    padding: 2rem;
}

.productos__cuadro--info {
    font-size: medium;
}

.productos__cuadro--precio {
    font-size: x-large;
}


/* ------------------VIEW - TORNEOS Y EVENTOS------------------ */


.card {
    background: #752e2ea1;
}

.secciones {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* ------------------VIEW - CLASIFICACION TORNEOS------------------ */


.centrar__tabla {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/* ------------------VIEW - CONTACTO------------------ */


.contacto__top {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contacto__top--ubicacion {
    font-size: 1.8em;
    margin: 3rem;
    background: #752e2ea1;
}

.contacto__top--ubicacion li {
    padding: 1.5rem;
}

iframe {
    margin: 6%;
}

.contacto__top--img {
    width: 32rem;
}

.formulario {
    display: flex;
    justify-content: center;
}




/* ----------MEDIA---------- */

@media screen and (max-width:991px) {

    /* header */
    .menusuperior {
        gap: 1rem;
    }

    /* ---HOME--- */
    /* main */
    .cuadros__cuadro h2 {
        font-size: 2.4rem;
        padding: 2rem;
    }

    /* ---NUESTROS PRODUCTOS--- */
    /* main */
    .productos__cuadro {
        margin: 2rem;
        padding: 2rem;
    }

    .productos__cuadro--img {
        padding: 2rem;
    }

    .productos__cuadro--titulo {
        font-size: 1.4em;
        padding: 1rem;
    }

    /* ---TORNEOS Y EVENTOS--- */
    /* main */
    .card-text {
        font-size: 0.9em;
        font-weight: 90;
    }

    /* ---CONTACTO--- */
    /* main */
    .contacto__top--ubicacion {
        font-size: 1.6em;
    }

}

@media screen and (max-width:730px) {

    /* no utilice un maximo de 576px porque comienza a fallar el responsive al maximo de 730px de screen */

    /* header */
    .header__logo {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel {
        display: none;
    }

    .menusuperior {
        display: none;
    }


    /* ---HOME--- */
    /* main */
    .cuadros__cuadro:nth-of-type(1) {
        grid-column: 1/13;
        grid-row: 1/2;
    }

    .cuadros__cuadro:nth-of-type(2) {
        grid-column: 1/13;
        grid-row: 2/3;
    }

    .cuadros__cuadro:nth-of-type(3) {
        grid-column: 1/13;
        grid-row: 3/4;
    }

    .cuadros__cuadro h2 {
        font-size: 2.4rem;
        padding: 2rem;
    }

    .cuadros__cuadro p {
        font-size: 1.4em;
        margin-bottom: 1rem;
    }

    .cuadros__cuadro div img {
        width: 70%;
        margin: 0.6rem;
    }

    /* ---NUESTROS PRODUCTOS--- */
    /* main */

    .productos {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .productos__cuadro:nth-of-type(1) {
        grid-column: 1/7;
        grid-row: 1/2;
    }

    .productos__cuadro:nth-of-type(2) {
        grid-column: 7/13;
        grid-row: 1/2;
    }

    .productos__cuadro:nth-of-type(3) {
        grid-column: 1/7;
        grid-row: 2/3;
    }

    .productos__cuadro:nth-of-type(4) {
        grid-column: 7/13;
        grid-row: 2/3;
    }

    .productos__cuadro:nth-of-type(5) {
        grid-column: 1/7;
        grid-row: 3/4;
    }

    .productos__cuadro:nth-of-type(6) {
        grid-column: 7/13;
        grid-row: 3/4;
    }

    .productos__cuadro {
        margin: 1rem;
        padding: 1rem;
    }

    .productos__cuadro--img {
        padding: 1rem;
    }

    .productos__cuadro--titulo {
        font-size: 1.4em;
        padding: 1rem;
    }

    .productos__cuadro--info {
        font-size: small;
    }

    /* ---TORNEOS Y EVENTOS--- */

    .secciones__margenes {
        margin: 8%;
    }

    /* ---CONTACTO--- */
    /* main */
    .contacto__top--ubicacion {
        font-size: 1.4em;
    }

    /* ---CLASIFICACION TORNEOS--- */

    .centrar__tabla {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    /* footer */

    .iconos__redes {
        display: flex;
        margin: 7%;
        padding-left: 0%;
        justify-content: space-around;
    }

}