/* las variables nos van a permitir estandarizar los coores y los tamanios */
$porcentaje__xxl: 100%;
$porcentaje__xl: 80%;
$porcentaje__l: 75%;
$porcentaje__m: 50%;
$porcentaje__s: 15%;
$porcentaje__xs: 3%;

$variablename: value;