<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shotcut icon" href="../assets/img/Logo.PNG">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Laguarida del Duelista - Clasificación Torneos</title>
</head>

<body>
    <header id="arriba">
        <section class="banner">
            <div class="banner__logo">
                <img src="../assets/img/LogoLGDD.png" alt="Logo de la Guarida del Duelista">
            </div>
            <div class="banner__img">
                <img src="../assets/img/banner2.gif" alt="Imagen D&D, Magic, Yu-gi-oh!">
            </div>
        </section>
        <nav>
            <ul class="menusuperior">
                <li><a class="menusuperior__link" href="../index.html">Inicio</a></li>
                <li><a class="menusuperior__link" href="nuestros_productos.html">Nuestros Productos</a></li>
                <li><a class="menusuperior__link" href="torneos_y_eventos.html">Torneos y Eventos</a></li>
                <li><a class="menusuperior__link" href="clasificacion_torneos.html">Clasificación Torneos</a>
                </li>
                <li><a class="menusuperior__link" href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!--contenido principal o de relevancia. La imagen de fondo la agrego en css-->
    <main>
        <h1>Inicio > Clasificación Torneos</h1>
        <a href="#arriba" class="linktop">Ir arriba</a>
    </main>

    <!--pie de pagina con links de redes sociales-->
    <footer>
        <div class="division1">
            <div class="letrero"></div>
            <ul>
                <li>&#9735; Av. Presidente Perón 1805, Villa Mercedes (SL) 🇦🇷</li>
                <li>&#9743; 2657-714203</li>
                <li>&#9993; LaGuaridaDelDuelista@gmail.com</li>
            </ul>
        </div>
        <div class="division2">
            <ul class="iconosRedes">
                <li><a href="https://web.whatsapp.com/" target="_blank"><span class="iconify"
                            data-icon="ri:whatsapp-fill" data-width="35"></span></a>
                </li>
                <li><a href="https://www.instagram.com/laguaridadelduelista/?hl=es" target="_blank"><span
                            class="iconify" data-icon="entypo-social:instagram" data-width="35"></span></a></li>
                <li><a href="https://www.facebook.com/LaGuaridaDelDuelista" target="_blank"><span class="iconify"
                            data-icon="entypo-social:facebook" data-width="35"></span></span></a></li>
                <li><a href="https://www.twitch.tv/" target="_blank"><span class="iconify"
                            data-icon="akar-icons:twitch-fill" data-width="35"></span></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><span class="iconify"
                            data-icon="entypo-social:youtube" data-width="35"></span></a>
                </li>
            </ul>
        </div>
        <div class="division3">
            <h3>Horarios</h3>
            <p>Martes a Viernes de 10 a 20 hs.</p>
            <p>Sábados y Domingos de 15 a 20 hs.</p>
        </div>
    </footer>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>

</html>