// medidas
$percentage__xxl: 100%;
$percentage__xl: 80%;
$percentage__l: 75%;
$percentage__m: 50%;
$percentage__s: 15%;
$percentage__xs: 3%;


// colores
$color__font: #ffffff;
$color__back: #000000;
$color__extra: #752e2ea1;


// tamaños fuentes
$font__extra: 1.8em;
$font__link: 1.5em;
$font__base: 1.4em;
$font__small: 1.1em;

// espacios
$space__xl: 6rem;
$space__l: 4rem;
$space__m: 2.4rem;
$space__s: 2rem;
$space__xs: 1rem;