/* ------------------VIEW - CONTACTO------------------ */
main {
    .contacto__top {
        @include flex(space-evenly);
        flex-wrap: wrap;

        &--ubicacion {
            font-size: $font__extra;
            margin: 3rem;
            background: $color__extra;

            li {
                padding: 1.5rem;
            }
        }

        &--img {
            width: 32rem;
        }

        iframe {
            margin: 6%;
        }
    }

    .formulario {
        @include flex(center);
    }
}