/* ------------------VIEW - TORNEOS Y EVENTOS------------------ */

section {
    .card {
        background: #752e2ea1;
    }

    .secciones {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}