/* footer */
footer,
.division1,
.horario__cont,
.menuinferior {
    font-size: 1.2em;
}

.horario {
    font-size: $font__extra;
}

.menuinferior {
    border-left: 2px solid $color__back;
}

footer {
    padding-top: $space__m;
    padding-bottom: $space__m;
}